RPi.GPIO
VPi
adafruit-circuitpython-bh1750
adafruit-circuitpython-pct2075
smbus2
bme280
pytz
ephem
opencv-python-headless
https://github.com/alliedvision/VimbaPython/archive/refs/heads/master.zip
Pillow
luma.oled

https://github.com/e71828/pi_ina226/archive/refs/heads/main.zip
numpy
timezonefinder==6.5.7
board
luma.core
gpiozero
adafruit-circuitpython-ds3231
imutils
pyserial
adafruit-blinka
imutils
pyyaml
uvicorn
fastapi
https://github.com/openUC2/imswitchclient/archive/refs/heads/main.zip
#https://github.com/BLavery/lib_oled96/archive/refs/heads/master.zip
